<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= render 'layouts/stylesheets' %>
  <%= csrf_meta_tags %>

</head>
<body>

<div id="content" class="container_12">
	
	<%= render 'layouts/header' %>
	<div class="clearfix"></div>
	
	<%= yield %>
	
	<%= render 'layouts/footer' %>
	<%= debug(params) if Rails.env.development? %>
</div>
</body>
</html>
